@import "tailwindcss";
@import "primeicons/primeicons.css";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  min-width: 100dvw;
}

* {
  font-family: Rubik;
}

.p-tablist-tab-list {
  flex-direction: column;
  gap: 1rem;
}
